.header {
    width: 100%;
    height: 100px;
    box-shadow: var(--low-shadow);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: white;
}
.headerSection{
    min-width: 25%;
    max-width: 40%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    gap: 5px;
}
.headerLogo{
    min-width: 25%;
    width: fit-content;
    justify-content: start;
}
@media (max-width:700px) {
    .header {
        height: 70px;
    }
}
@media (max-width:560px) {
    .headerLogo{
        display: none;
    }
    .headerSection{
        width: 100%;
        max-width: 100%;
        justify-content: space-around;
    }
}