.searchContainer{
    width: 300px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchInput{
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    padding: 10px;
    font-size: 18px;
    box-shadow: rgba(178, 178, 193, 0.2) 0px 3px 15px 0px;
}
.searchInput:focus{
    outline: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 15px 0px;
    
}

@media (max-width:700px) {
    .searchContainer{
        width: 200px;
    }
    .searchInput{
        width: 170px;
        height: 35px;
    }
}

@media (max-width:560px) {
    .searchContainer{
        justify-self: start;
    }
}