.cardText{
    font-size: 14px;
    color: rgb(105, 105, 105);
    min-height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    word-break: break-all;
    transition: 0.5s;
}
.light:hover{
    color: rgb(18, 18, 18);
}
.dark:hover{
    color: rgb(222, 222, 222);
}